<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container-fluid">
		<div class="row">
		<div class="col-md-12">
		
		<div class="card mt-4 text-center">
		<h1 class="mt-3">Change Password</h1>
		<div class="card-body ">
		<form action="" th:action="@{/user/change_password}" method="post">
		<!-- old password -->
		<div class="from-group mt-3">
		<input name="oldPassword" type="text" class="form-control" placeholder="enter your old password"></input>
		</div>
		<!-- new  password -->
		<div class="from-group mt-3">
		<input name="newPassword" type="password" class="form-control" placeholder="enter your new  password"></input>
		</div>
		
		<div class="container mt-4">
		<button class="btn btn-primary btn-block">Change Password</button>
		<button class="btn btn-warning btn-block">Rest Password</button>
		</div>
		</form>
		</div>
		</div>
		</div>
		</div>
		</div>
		<script>
		$(document).ready(()=>{
		$('.item').removeClass('active');
		$('#setting-link').addClass('active');
		});
		</script>
	</section>
</body>
</html>