<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container-fluid">
		<div class="card mt-1">
		<div class="card-body text-center">
		<img  style="width:250px; height:250px" alt="" th:src="@{'/img/addcontact.jpg'}">
		<h1 class="text-center mt-3 font-italic text-secondary font-weight-light">Start adding your  new Contact on Cloud here......</h1>		
		<a th:href="@{/user/add_contact}" class="btn btn-primary btn-block text-center text-uppercase">Add New Contact </a>
		<hr/>
		
		<h3 class="my-3 text-uppercase font-italic"> Donate us</h3>
		<input type="text" name="pay_ammount" id="payment_id" placeholder="enter your donation amount here"class="form-control my-2"></input>
		<div class="container mt-3 ">
		<button onclick="paymentStart()" class="btn btn-success btn-block text-uppercase font-italic">Pay</button>
		</div>
		</div>
		</div>
		</div>
		<script>
		$(document).ready(()=>{
		$('.item').removeClass('active');
		$('#home-link').addClass('active');
		});
		</script>
	</section>
</body>
</html>